.crutilka {
     animation-name: spinner;
    animation-timing-function: linear; /* задание типа движения - равномерное */
    animation-iteration-count: infinite; /* задание повторений движения */
    animation-duration: 3s; /* задание продолжительности движения */
    transform-style: preserve-3d;
  }
@keyframes spinner {
  100% {transform:  rotatey(360deg);}
  }
